* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #141922;
    --dark-grey: #282828;
    --black: #000000;
    --white: #ffffff;
    --grey: #717171;
    --light-grey: #c1c1c1;
    --highlight: #adff2f;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/* content */

.wrapper {
    width: 100%;
    height: 100vh;
    background-color: var(--dark-color);
    overflow: hidden;
    color: var(--white);
}

main{
    width: 100%;
    height: calc(100% - 90px);
    background-color: var(--dark-color) ;
    overflow: hidden;
}

#playbar {
    width: 100%;
    height: 90px;
    background-color: var(--dark-grey);
}

.main-nav {
    width: 210px;
    min-height: 480px;
    background-color: var(--black);
    overflow: hidden;
}

.top-nav {
    width: 100%;
    height: calc(100% - 80px);
    overflow: hidden;
}

.bottom-nav {
    width: 100%;
    height: 80px;
   
}

.main-content {
    width: calc(100% - 210px);
    height: 100%;
    background-color: var(--dark-color);
    overflow-y: auto;
}

#upgrade {
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 210px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    padding-right: 15px;
    z-index: 1000;
}

.btn {
    padding: 5px 25px;
    display: inline-block;
    border: 1px solid white;
    color: var(--white);
    border-radius: 20px;
    text-decoration: none;
    margin-right: 20px;
}

.scale {
    transform: scale(0.8);
    transition: trasform 0.5s;
}

.scale:hover {
    transform: scale(1);
}

.flex {
    display: flex;
}

.end {
    justify-content: flex-end;
}

.space-between {
    justify-content: space-between;
}

.wrap {
    flex-wrap: wrap;
}

.align-items {
    align-items: center;
}

.just-center {
    justify-content: center;
    
}

.align-content {
    align-content: center; 
}
.center {
    align-items: center;
    align-content: center;
}

.up-text {
    text-transform: uppercase;
}

.main-section {
    margin-top: 80px;
}

.main-section ul li {
    list-style: none;
    padding: 5px;
    font-size:10px;

}

.main-section ul a {
    text-decoration: none;
    color: var(--grey);
    text-transform: uppercase;
    font-weight: 700;
    display: block;
}

.main-section ul li::after {
    content: '';
    display: block;
    width: 50%;
    height: 2px;
    margin: 0 auto;
    background-color: transparent;
}

.main-section ul li:hover::after {
    background-color: var(--highlight);
}

ul li a:hover {
    color:#ffffff;
}

.top-nav a {
    border-left: 2px transparent;
    
}

.top-nav a:hover {
    border-left: 5px solid var(--highlight);
}


.container {
    
    padding: 0 10px;
    margin-top: 20px;
}
.row {
  margin-left: -10px;  
  margin-right: -10px;
  
}

.main-list {
    padding-left: 20px;
}

.col {
    margin-top: 15px;
    padding: 7px;
    width:calc(100% / 6);
}

.col img {
    width: 100%;
    display: block;
}

.text-c {
    text-align: center;
}
.marg-top {
    margin-top: 10px;
}

p {
    font-size:12px;
    font-weight: 700;
    margin-top: 8px;
    color: var(--grey);
}

.box {
   
    border-radius: 50%;
    overflow: hidden;
}

.box img {
    width: 100%;
   
}
.hover-img {
    position: relative;
    cursor: pointer;
}

.hover-img::after {
    font-family: 'Font Awesome 6 Free';
    font-size: 3rem;
    content: "\f144";
    display: flex;
    opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

.hover-img:hover::after {
    opacity: 1;
}

.logo1 {
    padding: 15px;
    margin-right: 40px;
}

.logo2 {
    display: none;
}

.img1 {
    width: 15px;
    height: 15px;
}

.t-list {
    margin-top: 20px;
    text-transform: uppercase;
}

.main-list ul li {
    list-style: none;
    padding-top: 10px;
    font-size:15px;
}

.main-list li a {
    text-decoration: none;
    color: var(--grey);
}
.playlist li p {

    font-size: 15px;
    margin-left: 10px;
   padding-top: 13px;
    
  
   
}
.playlist li:first-child {
   font-size: 50px;
 }

 .bottom-nav img:first-child {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    margin-right: 10px;
}
.img-grey {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--grey);
}


.pad-15 {
    padding-left: 4px;
    padding-top: 15px;
}

.pad-10 {
    padding-left: 16px;
    padding-top: 7px;

}

.bord-bot {
    border-bottom: 1px solid var(--grey);
    margin-left: 15px;
    margin-right: 12px;
    padding-bottom: 7px;
 
}

.bottom-nav ul li p {
    margin-left: 5px;
    
}

.play-left, .play-right {
    width: 210px ;
    height: 100%;
    overflow: hidden;
   
}

.play-middle {
    width: calc(100% - 420px);
    height: 100%;
    overflow: hidden;
    
}

.play-middle ul {
    list-style: none;
}
.play-middle ul li a {
    text-decoration: none;
    color: var(--white);
    padding-left: 30px;
    
}



.col-play {
    width: calc(100% / 3);
    height: 100%;
    padding: 20px 10px;
}
.col-play img {
    width: 100%;

}

.col-play p {
    margin-top: 1px;
    font-size: 10px;

}

.pad-l {
    padding-left: 15px;
}

.pad-mmax {
    padding-left: 15px;
    
}
.pad-mmin {
    padding-right: 15px;
    
}
.pad-bott {
    padding-bottom: 20px;
}


.marg-15 {
    margin-top: 15px;
}

.marg-20 {
    margin-top: 20px;
}

.marg-40 {
    margin-top: 40px;
}

.marg-45 {
    margin-top: 45px;
    width: 80%;
}

.play {
    font-size: 30px;
}

.pad-play {
    padding-top: 10px;
}


input  {
    -webkit-appearance: none;
    appearance: none;
    width: 40%;
    height: 5px;
    background: var(--grey);
    border-radius: 10px;
    cursor: pointer;
    background-image: linear-gradient(var(--light-grey), var(--light-grey));
    background-size: 25% 100%;
    background-repeat: no-repeat;

}


input::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 11px;
    height: 11px;
    background: var(--white);
    cursor: pointer;
    border-radius: 50%;
    opacity: 0;
}

input:hover {
    background-image: linear-gradient(var(--highlight), var(--highlight));
}
input::-webkit-slider-thumb:hover {
    opacity: 1;
}



/*RESPONSIVE*/

@media screen and (max-width: 1200px) {

    .col {
        width: calc(100% / 4);
    }
    
}

@media screen and (max-width: 992px) {

    .col {
        width: calc(100% / 3);
    }
    
}

@media screen and (max-width: 768px) {
    
    .col {
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 576px) {

    .main-nav {
        width: 60px;
    }

    #upgrade {
        width: calc(100% - 60px);
       
        
    }

    .main-content {
        width: calc(100% - 60px);
    }
    
    .main-nav span {
        display: none;
    }

    .logo2 {
        display: block;
        width: 25px;
        height: 25px;
        margin: 5px 18px  ;
        

    }
    .logo1 {
        display: none;
    }
    .main-list ul li {
        padding-top: 5px;
        font-size: 20px;
        
        
    }

    .bottom-nav  .flex h5, .main-nav p {
        display: none;
    }

    .bord-bot {
        border: none;
    }

    .main-list ul {
        margin-bottom: 10px;
        
    }
    .img1 {
        width: 20px;
        height: 20px;
    }
    .playlist {
        display: none;
    }
    .play-right {
        display: none;
    }
    .play-middle { 
        width: calc(100% - 210px);
        overflow: hidden;
    }
    .play-left {
        width: 210px;
        height: 100%;
    }
    .col-play {
        width: calc(100% / 3);
        height: 100%;
    }
}

@media screen and (max-width: 400px) {

    .col {
        width: 100%;
    }
    
}